body {
    padding: 0;
    margin: 0;
    background-color: #121212; /* Fondo general oscuro */
}

.container {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    --s: 200px; /* mantiene el tamaño */
    --c1: #2d3436; /* color oscuro */
    --c2: #636e72; /* color medio oscuro */
    --c3: #b2bec3; /* color claro */

    background: linear-gradient(135deg, var(--c1), var(--c2));
    box-shadow: 0 0 10px var(--c3); /* Agrega un efecto de sombra para profundidad */
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: rgba(255, 255, 255, 0.05); /* Ligeramente visible sobre el fondo */
    backdrop-filter: blur(5px); /* Efecto de desenfoque para un look más moderno */
}

.form {
    min-width: 130vh;
    background: rgba(0, 0, 0, 0.25); /* Fondo translúcido para los formularios */
    border-radius: 5px; /* Bordes redondeados para suavizar el aspecto */
    padding: 20px; /* Espaciado interno */
}

.spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.curp {
    color: #00b894; /* Color verde neón para un toque de color vivo */
}

.error {
    color: #d63031; /* Color rojo para errores, visible contra el fondo oscuro */
}

@media (max-width: 768px) {
    .form {
        min-width: 8vh;
    }
}
